<div class="container">
  <form class="form-horizontal" ng-submit="event.createEvent()">
  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">Event Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="eventName" placeholder="Name of the event"
        maxlength="25" ng-model="event.eventDetails.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="eventDetails" placeholder="Additional details" ng-model="event.eventDetails.desc">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Start Date</label>
      <div class="col-lg-10">
        <input type="date" class="form-control" id="startDate" ng-model="event.eventDetails.startDate">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">End Date</label>
      <div class="col-lg-10">
        <input type="date" class="form-control" id="endDate" ng-model="event.eventDetails.endDate">
      </div>
    </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-primary">Create Event</button>
        </div>
      </div>
    </fieldset>
  </form>

</div>
