<div class=container>
  <form class="form-horizontal" name="LoginForm" ng-submit="home.login()">
    <fieldset>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email or Username" ng-model="home.email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-6">
          <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="home.password"
          required minlength="8">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
      <!-- <div ng-messages="LoginForm.inputEmail.$error" role="alert">
            <div ng-message="required" class="alert alert-dismissible alert-danger">
              Email Id is required
            </div>
      </div> -->
      <div ng-messages="LoginForm.password.$error" role="alert" >
            <div ng-message="minlength, maxlength" class="alert alert-dismissible alert-danger">
              Your password must be between 8 and 20 characters long
            </div>
      </div>

    </fieldset>
  </form>
</div>
