<div class=container>
  <form class="form-horizontal" name="RegistrationForm" ng-submit="home.register()">
    <fieldset>
      <div class="form-group">
        <label for="inputUserName" class="col-lg-2 control-label">User Name</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="inputUserName" placeholder="User Name" ng-model="home.username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="home.email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-6">
          <input type="password" name="inputPassword" class="form-control" id="inputPassword" placeholder="Password" ng-model="home.password" required>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
        <div class="col-lg-6">
          <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm your Password" ng-model="home.confirmPassword"
          required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </div>
      <div ng-messages="RegistrationForm.inputPassword.$error" role="alert" >
            <div ng-message="minlength, maxlength" class="alert alert-dismissible alert-danger">
              Your password must be between 8 and 20 characters long
            </div>
      </div>
      <div ng-messages="RegistrationForm.confirmPassword.$error" role="alert" >
            <div ng-message="minlength, maxlength" class="alert alert-dismissible alert-danger">
              Your password must be between 8 and 20 characters long
            </div>
      </div>
    </fieldset>
  </form>
</div>
