<div class="container">
  <form class="form-horizontal" ng-submit="project.createProject()">
  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">Project Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="projectName" placeholder="Project/Idea"
        maxlength="25" ng-model="project.projectDetails.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="projectDetails" placeholder="Additional details" ng-model="project.projectDetails.desc">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Tech Stack</label>
      <div class="col-lg-10">
        <select multiple="" class="form-control">
           <option>HTML</option>
           <option>CSS</option>
           <option>JavaScript</option>
           <option>JQuery</option>
           <option>Angular</option>
           <option>Rails</option>
           <option>Node</option>
         </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Github Repository Link</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="repositoryLink" placeholder="Paste the github URL for this project" ng-model="project.projectDetails.githubURL">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Added Team members</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="addedTeamMembers" placeholder="Use Add Team member button for adding new members" ng-model="project.projectDetails.particpants">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPeopleModal">Add Team Members</button>
      </div>
    </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-primary">Create Project</button>
        </div>
      </div>
    </fieldset>
  </form>

</div>


<div id="addPeopleModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Members to Project</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="Search for users" ng-model="project.searchText">
        <hr>
        <div class="container col-md-12">
          <div class="row">
            <div class="md-col-3" ng-repeat="userObj in project.userDetails | filter:project.searchText">
              <div class="well well-sm">
                <span>{{userObj.username}}<span> <input class="pull-right" type="checkbox">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
